extends ../layout/bootstrap5

block beforehtml
  -
    title = '戴均民的經歷 Timeline'
    description = '這是戴均民的工作、社群參與、演講經歷。'

block style
  style
    :sass
      [v-cloak]
        display: none
      $ls-items: ("n1px": -1px, "1px": 1px)
      @each $k, $v in $ls-items
        .ls-#{$k}
          letter-spacing: $v
      @media (min-width: 768px)
        .timeline-max-width
          max-width: 720px
      .card-text
        p
          margin-bottom: .5rem
        ol, ul
          padding-left: 1rem
          margin-bottom: .5rem
        :last-child
          margin-bottom: 0 !important
      img.card-img-top
        aspect-ratio: 1200 / 630
      .timeline
        &>.col-12:first-child
          margin-top: 1rem !important
        &>.position-relative
          &::before, &::after
            content: ' '
            position: absolute
            z-index: 1
            top: 18px
          &::before
            left: 15px
            border: medium solid rgb(var(--bs-success-rgb))
            border-width: 10px 10px 10px 0
            border-color: transparent rgb(var(--bs-success-rgb)) transparent transparent
          &::after
            left: -13px
            width: 20px
            height: 20px
            background-color: rgb(var(--bs-success-rgb))
            border-radius: 50%

block content
  #app(v-cloak)
    .container.p-3.pb-5(v-if="timeline")
      header.text-center.mb-3
        h1.fs-40px.ls-1px.fw-bold.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask(style="--svgmask-url: url(https://api.iconify.design/mdi:timeline-text-outline.svg)")
          | 經歷
        p.fs-16px.fw-light.ls-n1px= description
      section.timeline-max-width.mx-auto.d-block
        .timeline.row.ms-3.border-start.border-success.border-5
          .col-12.ps-4.mt-4.position-relative(v-for="item of timeline")
            .card.position-relative
              img.card-img-top(:src="item.media" :alt="item.mediaCaption")
              .d-inline-flex.gap-2.position-absolute.top-0.start-0.m-3(v-if="item.tags?.length")
                .badge.rounded-pill.text-bg-success.border(v-for="tag of item.tags") {{ tag }}
              .card-body.border-top
                .d-flex.justify-content-between
                  .timeline-title
                    h5.card-title.fs-16px.fw-bold {{ item.title }}
                    h6.card-subtitle.fs-14px.fw-light(v-if="item.subtitle") {{ item.subtitle }}
                  .timeline-date.ls-n1px.d-flex.flex-column.align-items-center.fs-11px.fw-light.font-monospace.fst-italic
                    template(v-if="item.startDate !== item.endDate")
                      .text-nowrap.lh-1 {{ item.endDate || 'Present' }}
                      .d-flex(style="height: 1rem"): .vr.fs-1px.bg-success
                    .text-nowrap.lh-1 {{ item.startDate }}
                .card-text.fs-12px.mt-3(v-html="mdRender(item.summary)")
                .d-inline-flex.gap-2.mt-3(v-if="item.btns?.length")
                  a.btn.btn-sm.btn-outline-primary.fs-12px(v-for="btn of item.btns" target="_blank" :href="btn.url") {{ btn.text }}

block script
  script(src="https://cdn.jsdelivr.net/npm/markdown-it-imsize@2/dist/markdown-it-imsize.min.js")
  script(type="module").
    // https://mdbootstrap.com/docs/standard/extended/timeline/#section-timeline-gradient-bg
    // https://docs.google.com/spreadsheets/d/1Sp7hUdQlc9xIJnA2wSYEoc0ul-QrLXG7UVxFbneQcRo/edit?gid=0#gid=0
    import _ from 'lodash'
    import { computed, createApp, onMounted, ref } from 'vue'
    import { getCsv, parseJson5OrDefault, showLoading } from '@app/js/utils.mjs'
    import { mdRender } from '@app/js/markdownit.mjs'
    import * as z from 'zod'

    const TIMELINE_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRhycKgnL59cw547gOQoj1hqc3P09g17oaqFuSx1WZu3OZVVeYth6e5ffHKssyOuPevzkgtBFMDbH7n/pub?gid=0&single=true&output=csv'

    window.vm = createApp({
      setup () {
        const timeline = ref([])

        const ZodTimelineItem = z.object({
          startDate: z.iso.date(),
          endDate: z.iso.date().catch(null),
          mediaType: z.string().trim().min(1).catch('image'),
          tags: z.string().transform(str => _.chain(str).split(/\s*,\s*/).map(_.trim).compact().value()),
          title: z.string().trim().min(1),
          subtitle: z.string().trim().min(1).catch(null),
          summary: z.string().trim().min(1).catch(null),
          media: z.string().trim().min(1).catch(null),
          mediaCredit: z.string().trim().min(1).catch(null),
          mediaCaption: z.string().trim().min(1).catch(null),
          btns: z.string().transform(str => parseJson5OrDefault(str, [])),
        })

        onMounted(async () => {
          try {
            showLoading({ text: '讀取中...' })
            const rows = await getCsv(TIMELINE_URL)
            console.log(`rows.length = ${JSON.stringify(rows.length)}`)
            console.log(rows)

            timeline.value = _.chain(rows)
              .map(row => {
                try {
                  return ZodTimelineItem.parse(row)
                } catch (err) {
                  console.log(`row = ${JSON.stringify(row)}`)
                  console.error(err)
                  return null
                }
              })
              .compact()
              .orderBy(['startDate', 'endDate'], ['desc', 'desc'])
              .value()
            console.log(`timeline.value.length = ${JSON.stringify(timeline.value.length)}`)
            console.log(timeline.value)

            Swal.close()
          } catch (err) {
            console.error(err)
          }
        })

        return { mdRender, timeline, ZodTimelineItem }
      }
    }).mount('#app')
