extends ../layout/bootstrap5

block beforehtml
  - title = '戴均民的連結牆'

block style
  style
    :sass
      [v-cloak]
        display: none
      html
        background: url(https://i.imgur.com/51SG3TN.png) center / cover no-repeat fixed #1B3C9D
        @media (min-width: 768px)
          background-image: url(https://i.imgur.com/CPlJuz9.png)
      body
        background: transparent
      .container
        z-index: 10
        padding-bottom: 100px
      .bg-desktop, .bg-mobile
        -o-object-fit: cover
        height: 100%
        left: 0
        object-fit: cover
        position: fixed
        top: 0
        width: 100vw
      .btn-icon-block
        >img, >.svgmask
          left: 12px
      .bgicon
        aspect-ratio: 1/1
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        display: inline-block
        width: .875em

block content
  #app(v-cloak)
    //- img.bg-mobile.d-block.d-md-none(src="https://i.imgur.com/51SG3TN.png")
    //- img.bg-desktop.d-none.d-md-block(src="https://i.imgur.com/CPlJuz9.png")
    .my-3.container.text-center.position-relative.text-light
      .row.align-items-start.justify-content-center
        .col.col-lg-8.col-xl-6.col-xxl-5.px-3
          .d-flex.justify-content-end
            button.p-2.fs-16px.btn.btn-light.rounded-circle.icon-link(type="button" data-bs-toggle="modal" data-bs-target="#modal-share")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/material-symbols:share.svg)")
          img.d-block.rounded-circle.mt-4.mx-auto.w-100(src=site.gravatar style="max-width: 128px")
          h2.mt-4= site.name
          p.mt-2= description
          .d-flex.align-items-center.justify-content-between.mt-4
            a.btn.btn-light.p-2.fs-32px.rounded-circle.icon-link.shadow(target="_blank" href="https://www.instagram.com/tai.chunmin")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/mdi:instagram.svg)")
            a.btn.btn-light.p-2.fs-32px.rounded-circle.icon-link.shadow(target="_blank" href="https://fb.me/taichunmin")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/garden:facebook-stroke-16.svg)")
            a.btn.btn-light.p-2.fs-32px.rounded-circle.icon-link.shadow(target="_blank" href="https://line.me/ti/p/VEiQ7TuTPO")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/garden:line-social-stroke-16.svg)")
            a.btn.btn-light.p-2.fs-32px.rounded-circle.icon-link.shadow(target="_blank" href="https://github.com/taichunmin")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/garden:github-stroke-16.svg)")
            a.btn.btn-light.p-2.fs-32px.rounded-circle.icon-link.shadow(target="_blank" href="mailto:taichunmin@gmail.com")
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/material-symbols:mail-outline.svg)")
          .d-grid.gap-3.mt-4
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="blog/")
              span.svgmask.fs-32px.position-absolute.top-50.translate-middle-y(style="--svgmask-url: url(https://api.iconify.design/streamline:markdown-circle-programming.svg)")
              | 技術文章及生活隨筆
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="works/")
              span.svgmask.fs-32px.position-absolute.top-50.translate-middle-y(style="--svgmask-url: url(https://api.iconify.design/solar:code-circle-outline.svg)")
              | 作品集及小工具
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="resume.html")
              span.svgmask.fs-32px.position-absolute.top-50.translate-middle-y(style="--svgmask-url: url(https://api.iconify.design/material-symbols:account-circle-outline.svg)")
              | 履歷 Resume
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="experiences.html")
              span.svgmask.fs-32px.position-absolute.top-50.translate-middle-y(style="--svgmask-url: url(https://api.iconify.design/mdi:timeline-text-outline.svg)")
              | 經歷 Timeline
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="https://taichunmin.idv.tw/liff-businesscard/")
              img.svgmask.fs-32px.position-absolute.top-50.translate-middle-y.rounded-circle(src="https://i.imgur.com/IQyPjax.png")
              | LINE 數位版名片
            a.btn.btn-light.rounded-pill.btn-icon-block.p-3.position-relative.shadow(type="button" href="https://liff.line.me/1645278921-kWRPP32q/?accountId=736cebrk")
              img.svgmask.fs-32px.position-absolute.top-50.translate-middle-y.rounded-circle(src="https://i.imgur.com/VFrARck.png")
              | Flex 開發人員工具
    #modal-share.modal.fade(tabindex="-1" ref="modal-share")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title.icon-link
              span.svgmask(style="--svgmask-url: url(https://api.iconify.design/material-symbols:share.svg)")
              | 分享
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          .modal-body
            img.img-thumbnail.d-block.mx-auto.w-100(src="https://i.imgur.com/Cp7GXXi.png" style="max-width: 192px")
            .input-group.input-group-sm.mt-4
              span.input-group-text.icon-link
                span.svgmask(style="--svgmask-url: url(https://api.iconify.design/material-symbols:link.svg)")
              input#shareUrl.form-control(readonly value=`${ogUrl}`)
              button#copyUrl.btn.btn-primary(type="button" @click=`btnCopy('${ogUrl}', modalShare).then(hintCopied)`) {{ isCopied ? '已複製！' : '複製連結' }}

block script
  script(type="module").
    // https://bio.link/taichunmin
    import { createApp, ref, useTemplateRef } from 'vue'
    import { btnCopy, sleep } from '@app/js/utils.mjs'

    window.vm = createApp({
      setup () {
        const isCopied = ref(false)
        const modalShare = useTemplateRef('modal-share')

        async function hintCopied () {
          isCopied.value = true
          await sleep(2000)
          isCopied.value = false
        }

        return { btnCopy, hintCopied, isCopied, modalShare }
      },
    }).mount('#app')
